:root {
	--headerHeight: 60px;
	--regularText: #4e4e4e;
	--darkText: #4e4e4e;
	--tunaPink: #ff787e;
	--headerColor: #c9c9c9;
	--background: #ffffff;
	--offWhite: whitesmoke;
	--lightGray: rgb(226, 226, 226);
	--gray: rgb(163, 163, 163);
	--darkGray: gray;
	--shadow: rgba(0, 0, 0, 0.2);
	--activeNavLink: #ff787e;
	--hover: rgba(25, 221, 162, 0.196);
	--pageMask: rgba(0, 0, 0, 0.4);
	--white: #FFFFFF;
	--sidebarWidth: 300px;
}

h1, h2, h3, h4, h5, h6,
body,
html {
	color: var(--regularText);
	user-select: none;
}

a {
	text-decoration: unset;
	color: var(--activeNavLink);
	cursor: pointer;
}

a:hover {
	text-decoration: underline !important;
}

body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	height: 100dvh;
	overflow: hidden;
	overscroll-behavior: contain;
}

.hidden {
	display: none !important;
}

.clampOneLine {
	display: -webkit-box !important;
	line-clamp: 1 !important;
	-webkit-line-clamp: 1 !important;
	-webkit-box-orient: vertical !important;
	overflow: hidden !important;
}

.clampTwoLines {
	display: -webkit-box !important;
	line-clamp: 2 !important;
	-webkit-line-clamp: 2 !important;
	-webkit-box-orient: vertical !important;
	overflow: hidden !important;
}

.clampThreeLines {
	display: -webkit-box !important;
	line-clamp: 3 !important;
	-webkit-line-clamp: 3 !important;
	-webkit-box-orient: vertical !important;
	overflow: hidden !important;
}

#module-content-container {
	transition: margin 0.3s ease;
	background-color: var(--background);
	margin-top: var(--headerHeight);
	padding: 20px 30px;
	flex: 1;
	overflow-y: auto;
	overflow-x: hidden;
}

#module-content-container>section {
	transition: transform 0.3s ease, opacity 0.5s ease;
	transform: none;
	opacity: 1;
}

#module-content-container>section.pre-transition {
	transition: none;
	transform: translate3d(0px, 75px, 0px);
	opacity: 0;
}

/* Mobile View */
@media (max-width: 991px) {
	#module-content-container {
		padding: 20px 10px;
	}
}

.accordion-button:focus {
	outline: 0;
	box-shadow: none;
}

.accordion-flush .accordion-button {
	padding: 15px 0;
	background: none;
	border: 0;
}

.accordion-flush .accordion-button:not(.collapsed) {
	box-shadow: none;
}

.accordion-flush .accordion-body {
	padding: 0 0 15px 0;
	font-size: 16px;
}

.logo {
	padding-right: 15px;
}

.logo img {
	height: 40px;
	margin: 0px 10px;
	background-color: var(--background);
	border-radius: 30px;
	box-shadow: 3px 3px 5px #0000005e;
}

.logo span {
	color: var(--darkText);
	font-family: "Anton", sans-serif;
	font-weight: bold;
	font-size: 36px;
	font-style: italic;
	padding: 0px 10px;
}

.header {
	transition: all 0.3s;
	z-index: 999;
	height: 60px;
	box-shadow: 0px 2px 20px var(--shadow);
	background-color: var(--headerColor);
	padding-left: 20px;
	overflow: hidden;
}

.header .toggle-sidebar-btn {
	font-size: 32px;
	padding-left: 10px;
	cursor: pointer;
	color: var(--darkText);
}

.sidebar {
	position: fixed;
	top: 60px;
	left: 0;
	bottom: 0;
	width: var(--sidebarWidth);
	height: 100vh;
	height: 100dvh;
	z-index: 998;
	transition: all 0.3s;
	padding: 20px;
	overflow-y: auto;
	box-shadow: 0px 0px 20px var(--shadow);
	background-color: var(--background);
}

/* Mobile View */
@media (max-width: 991px) {
	.toggle-sidebar .sidebar {
		left: 0;
	}

	.sidebar {
		left: calc(var(--sidebarWidth) *-1);
	}

}

@media (min-width: 992px) {

	#module-content-container,
	#footer {
		margin-left: var(--sidebarWidth);
	}

	.toggle-sidebar #module-content-container,
	.toggle-sidebar #footer {
		margin-left: 0;
	}

	.toggle-sidebar .sidebar {
		left: calc(var(--sidebarWidth) *-1);
	}

	body:not(.toggle-sidebar) alert-banner {
		width: calc(100% - var(--sidebarWidth));
		margin-left: var(--sidebarWidth);
	}
}

.sidebar-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav .nav-item {
	margin-bottom: 5px;
	color: var(--regularText);
}

.sidebar-nav .nav-item a {
	cursor: pointer;
}

.sidebar-nav .nav-heading {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 15px 15px 5px 15px;
	border-bottom: 1px solid var(--offWhite);
}

.sidebar-nav .nav-link {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 700;
	transition: 0.3s ease;
	/* background: var(--tunaYellow); */
	padding: 10px 15px;
	border-radius: 4px;
	width: 100%;
	color: var(--regularText);
}

.sidebar-nav .nav-link i {
	font-size: 16px;
	margin-right: 10px;
}

.sidebar-nav .nav-link.collapsed {
	background: var(--background);
}

.sidebar-nav .nav-link.collapsed i {
	color: var(--gray);
}

.sidebar-nav .nav-link.active i,
.sidebar-nav .nav-link.active {
	color: var(--activeNavLink);
}

.sidebar-nav .nav-link:hover {
	color: var(--activeNavLink);
}

.sidebar-nav .nav-link:hover i {
	color: var(--activeNavLink);
}

.sidebar-nav .nav-link .bi-chevron-down {
	margin-right: 0;
	transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
	transform: rotate(180deg);
}

.sidebar-nav .nav-content {
	padding: 5px 0 0 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav .nav-content a {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	transition: 0.3;
	padding: 10px 0 10px 40px;
	transition: 0.3s;
	color: var(--regularText);
}

.sidebar-nav .nav-content a i {
	font-size: 8px;
	margin-right: 8px;
	line-height: 0;
	border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
	color: var(--activeNavLink);
}

#sidebar-nav-page-mask {
	opacity: 0;
	transition: opacity 0.3s ease, backdrop-filter 0.3s ease;
	height: 0px;
}

.toggle-sidebar #sidebar-nav-page-mask {
	display: block;
	opacity: 1;
	backdrop-filter: blur(2px);
	background-color: var(--pageMask);
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	z-index: 997;
}

@media (min-width: 992px) {
	.toggle-sidebar #sidebar-nav-page-mask {
		display: none;
		transition: all 0.3s ease;
	}
}

.footer {
	transition: margin 0.3s ease;
	padding: 10px;
	background-color: var(--lightGray);
}

/* Mobile View */
@media (max-width: 991px) {
	.sidebar-nav .nav-content a i {
		font-size: 10px;
	}

	.sidebar-nav .nav-heading {
		font-size: 14px;
	}

	.sidebar-nav .nav-content a {
		font-size: 16px;
	}

	.sidebar-nav .nav-link i,
	.sidebar-nav .nav-link {
		font-size: 18px;

	}
}