/* Apply header-collapse class to document body in order to collapse the app header */
body.header-collapse .header {
	height: 0px !important;
	opacity: 0%;
}

body.header-collapse .sidebar {
	top: 0px;
}

body.header-collapse #module-content-container {
	margin-top: 0px;
}

/* Mobile View */
@media (max-width: 991px) {
	song-tile {
		width: calc(100vw - 20px);
		max-width: unset;
	}

	/* When scrolling in mobile view, collapse the module title to the app header to save vertical space */
	#module-content-container.collapse-to-header section {
		margin-top: 45px;
	}

	#module-title {
		transition: all 0.3s ease;
		height: 45px;
		margin-bottom: 0px;
	}

	#module-content-container.collapse-to-header #module-title {
		position: absolute;
		z-index: 1000;
		font-size: 18px;
		transform: translate3d(70px, -60px, 10px);
	}
}

song-tile {
	display: flex;
	align-items: center;
	max-width: 350px;
	width: fit-content;
	cursor: pointer;
}

song-tile img {
	width: 60px;
	margin-right: 10px;
}

song-tile.large-image img {
	width: 110px;
}

song-tile.large-image .song-tile-text-div {
	width: calc(100% - 120px);
}

.song-tile-text-div {
	display: flex;
	flex-direction: column;
	width: calc(100% - 70px);
}

song-tile .song-title {
	font-weight: bold;
	font-size: 16px;
}

song-tile span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Mobile View */
@media (max-width: 991px) {
	.song-list-table td:not(:has(song-tile)) {
		display: none;
	}

	.song-list-table td {
		max-width: unset;
	}

	.song-list-table th {
		display: none;
	}
}

.song-list-table table {
	width: 100%;
	border-spacing: 0px 5px;
	border-collapse: separate;
}

.song-list-table th {
	text-align: center;
	border-bottom: 2px solid var(--regularText);
}

.song-list-table tbody tr {
	cursor: pointer;
}

.song-list-table tbody tr:hover {
	background-color: var(--offWhite);
}

.song-list-table td {
	max-width: 350px;
	padding-right: 15px;
}