.tuna-font {
	font-family: "Anton", sans-serif;
	font-style: italic;
}

/* Apply header-collapse class to document body in order to collapse the app header */
body.header-collapse .header {
	height: 0px !important;
	opacity: 0%;
}

body.header-collapse #sidebar {
	top: 0px;
}

body.header-collapse #module-content-container {
	margin-top: 0px;
}

.feature-coming-soon {
	width: 100%;
	height: 60vh;
	height: 60dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.feature-coming-soon img {
	width: 300px;
	max-width: 70vw;
}

#app-header-logo img {
	cursor: pointer;
}

.media-tile .mobile-end-container {
	display: none;
}

/* Mobile View */
@media (max-width: 991px) {
	.media-tile {
		width: calc(100dvw - 20px) !important;
		max-width: 100dvw !important;
	}

	.media-tile .mobile-end-container {
		display: flex !important;
		align-items: center;
		justify-content: flex-end;
	}

	.media-tile .btn-open-mobile-context-menu {
		font-size: 24px;
		color: var(--tunaPink);
		height: 100%;
		padding: 15px 0px 15px 10px;
	}

	/* When scrolling in mobile view, collapse the module title to the app header to save vertical space */
	#module-content-container.collapse-to-header section {
		margin-top: 45px;
	}

	#module-title {
		transition: all 0.3s ease;
		margin-bottom: 0px;
	}

	#module-content-container.collapse-to-header #module-title {
		position: absolute;
		z-index: 1000;
		font-size: 22px;
		transform: translate3d(60px, -58px, 10px);
		padding-right: 5px;
		max-width: calc(100% - 90px);
	}
}

.media-tile {
	display: flex;
	align-items: center;
	max-width: 450px;
	width: 100%;
	cursor: pointer;
	height: 60px;
}

.media-tile:not(.is-buffering):not(.is-downloading) .loading-spinner {
	opacity: 0% !important;
}

.media-tile-checkbox-container {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
	transition: width 0.3s ease;
}

.media-tile .media-tile-image {
	min-width: 60px;
	max-width: 60px;
	width: 60px;
	min-height: 60px;
	max-height: 60px;
	height: 60px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
}

.media-tile .media-tile-image .loading-spinner {
	width: 100%;
	height: 100%;
	background-color: #ff787f7e;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 100%;
	transition: opacity 0.3s ease;
}

.media-tile .media-tile-image .spinner-border {
	color: var(--white);
}

.media-tile .media-tile-image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.media-tile.large-image {
	height: 110px;
}

.media-tile.large-image .media-tile-image {
	min-width: 110px;
	max-width: 110px;
	width: 110px;
	min-height: 110px;
	max-height: 110px;
	height: 110px;
}

.media-tile.large-image .media-tile-text-div {
	width: calc(100% - 170px);
}

.media-tile-text-div {
	display: flex;
	flex-direction: column;
	width: calc(100% - 160px);
	flex: 1;
	padding-left: 10px;
}

.media-tile .media-tile-primary-text {
	font-weight: bold;
	font-size: 16px;
}

.media-tile.is-playing .media-tile-primary-text {
	color: var(--tunaPink);
}

.media-tile .media-tile-secondary-text {
	color: var(--darkGray);
}

.media-tile span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* Mobile View */
@media (max-width: 991px) {
	.media-list-table td:not(:has(.media-tile)) {
		display: none !important;
	}

	.media-list-table td {
		max-width: unset;
		padding-right: 0px !important;
	}

	.media-list-table th {
		display: none !important;
	}

	.media-list-table:not(.multi-select-enabled) .media-tile-checkbox-container {
		width: 0px;
	}
}

.media-list-table table,
.media-list-table {
	width: 100%;
	border-spacing: 0px 10px;
	border-collapse: separate;
}

/* Desktop View */
@media (min-width: 992px) {

	.media-list-table table,
	.media-list-table {
		min-width: 900px;
	}
}

.media-list-table thead {
	position: sticky;
	/* top should match the top padding of the #module-content-container */
	top: -20px;
	background-color: var(--background);
	z-index: 99;
}

.media-list-table th {
	text-align: center;
	border-bottom: 2px solid var(--regularText);
	padding: 5px 10px;
}

.media-list-table tbody tr {
	cursor: pointer;
}

.media-list-table tbody tr:hover {
	background-color: var(--offWhite);
}

.media-list-table td {
	max-width: 350px;
	padding-right: 15px;
}

.media-list-table .action-link {
	cursor: pointer !important;
	padding: 21px 10px;
}

.media-actions-menu .media-actions-menu-header {
	display: flex;
	padding: 0px 10px;
	overflow: hidden;
}

.media-actions-menu .media-actions-menu-header img {
	border-radius: 5px;
	min-width: 40px;
	max-width: 40px;
	width: 40px;
	min-height: 40px;
	max-height: 40px;
	height: 40px;
	margin-right: 5px;
}

.media-actions-menu .media-actions-menu-header span {
	color: var(--regularText);
	font-style: normal;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.media-actions-menu .media-actions-menu-header span.media-tile-primary-text {
	font-weight: bold;
	font-size: 14px;
}

.media-actions-menu .media-actions-menu-header span.media-tile-secondary-text {
	font-weight: normal;
	font-size: 12px;
	color: var(--darkGray);
}

.media-actions-menu .multi-select-header {
	font-weight: normal;
	padding: 3px 20px;
}