audio {
	width: 100%;
	filter: drop-shadow(2px 4px 7px rgba(0, 0, 0, 0.3));
	border-radius: 50px;
}

#album-image {
	height: 70px;
	margin-right: 10px;
	border-radius: 5px;
}

#song-name {
	font-weight: bold;
}

#artist-name {
	font-size: 12px;
	color: gray;
}

#play-button {
	background-color: var(--tunaPink);
	outline: none;
	color: white;
	border: none;
	border-radius: 30px;
	min-width: 40px;
	min-height: 40px;
	width: 40px;
	height: 40px;
	font-size: 24px;
	transition: background-color 0.3s ease;
}

#play-button:hover {
	background-color: var(--tunaPinkHover);
}

#play-button.is-playing>i.play-icon {
	display: none;
}

#play-button:not(.is-playing)>i.pause-icon {
	display: none;
}

/* Mobile View */
@media (max-width: 991px) {
	audio {
		height: 40px;
	}

	#album-image {
		height: 50px;
	}
}

.progress-slider-container {
	position: relative;
	padding-bottom: 10px;
}

.progress-slider {
	position: absolute;
}