.autocomplete-container {
	position: relative;
}

.autocomplete-input {
	width: 100%;
	padding: 8px 12px;
	box-sizing: border-box;
	border: none !important;
	outline: none !important;
	border-radius: 30px;
}

.autocomplete-suggestions {
	position: absolute;
    border: 3px solid var(--tunaPink);
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--background);
    z-index: 99;
    left: -3px;
    width: calc(100% + 6px);
	font-weight: bold;
}

.autocomplete-suggestion {
	padding: 8px;
	cursor: pointer;
}

.autocomplete-suggestion:hover {
	background-color: var(--offWhite);
}