.menu-body {
	position: sticky;
    bottom: 0px;
    z-index: 997;
	margin: 0px auto;
	width: 400px;
    max-width: 100%;
    height: fit-content;
    border-radius: 10px;
    background-color: rgb(60, 60, 60, 80%);
    color: var(--white);
    backdrop-filter: blur(3px);
    pointer-events: all;
    padding: 15px;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-body.pre-transition {
	opacity: 0;
	transform: translate3d(0px, 20px, 0px);
}

.menu-body .link-container {
	display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    overflow: hidden;
}

.menu-body .link-container a {
	text-wrap: nowrap;
	text-decoration: none !important;
}