song-tile {
	display: flex;
	align-items: center;
	max-width: 500px;
	width: 100%;
	cursor: pointer;
}

song-tile img {
	width: 60px;
	margin-right: 10px;
}

song-tile.large-image img{
	width: 110px;
}

song-tile.large-image .song-tile-text-div {
	width: calc(100% - 120px);
}

.song-tile-text-div {
	display: flex;
	flex-direction: column;
	width: calc(100% - 70px);
}

song-tile .song-title {
	font-weight: bold;
	font-size: 16px;
}

song-tile span {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}